<!DOCTYPE html>
<html>
  <head>
    <title>cloud89</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">* {font-family:arial, sans-serif;}</style>
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <h1>Corporate Billing Licensing and Inventory System for Siemens Cloud Solutions</h1>
    <img src='/cloud89.jpg' />
    <p>Definitions</p>
    <div id="content"><ul>
    	 <li>Open Source Technology with liberal license conditions shall be used whenever possible.</li>
    	 <li>Open Standards shall be used whenever possible</li>
    	 <li>Effort on UI is minimal, just cloud89 and Siemens Logo</li>
    	 <li>Usage of AWS as infrastructure</li>
    </ul>	
    </div>
    <p>Team</p>
    <table border="1" cellspacing="0" cellpadding="0" width="600">
    	<tr>
    		<td>Name</td><td>Location</td><td>Role</td>
    	</tr>
    	<tr>
    		<td>Roger Meier</td><td>ZUG</td><td>Idea, Vision and Strategy</td>
    	</tr>
    	<tr>
    		<td>Christian Imfeld</td><td>ZUG</td><td>Project Lead</td>
    	</tr>
    	<tr>
    		<td>Hong Luo</td><td>PEK</td><td></td>
    	</tr>
    	<tr>
    		<td>Chuan Jiang	</td><td>PEK</td><td></td>
    	</tr>
    </table>

  </body>
</html>
